[Desktop Entry]
Type=Application
Name=miconium
Comment=Material design icon generator for Linux desktops
Exec=/usr/bin/miconium-gui
Icon=miconium
Terminal=false
Categories=Utility;
